#Navbar {
    background-image: linear-gradient(to right top, #0066ff, #0057ff, #0045ff, #002fff, #0600ff);
    border-bottom: 2px solid rgb(12, 12, 12);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#Navbar .title {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

#Navbar .title h1 {
    padding-left: 50px;
}

.links {
    text-decoration: none;
    list-style: none;
    color: #fff;
    margin: 15px;
}